body {
    background-color: #b5babb; 
}

h1, 
h2 {
    color: #3290A6;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #3290A6;
    font-family: 'Noto Sans JP', sans-serif;
}

a:hover {
    color: #1a3135;
    font-family: 'Noto Sans JP', sans-serif;
}

.btn:focus, .btn:active, .btn:visited {
    outline: none !important;
    box-shadow: none !important;
    background-color: #343a40;
}

#finalScore {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

span, 
p {
    font-family: 'Noto Sans JP', sans-serif;
}

#questionTitle {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#answerCheck {
    font-style: italic;
    color: #1a3135;
}
